body {
  padding: 200px;
}
h3 {
   color: cyan;
   -webkit-text-fill-color: yellow; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color:magenta;
   font-size: 50px;
}
#bigBox {
  border: 1px bold magenta;
}
table {
  margin:1em auto;
  font-size: 22px;
}
td.col {
  border: 1px solid magenta;
  font-size: 22px;
}
tr.row {
  border: 1px solid magenta;
  font-size: 22px;
}
td {
  height:30px !important;
  width:30px !important;
  text-align:center;
  font-size: 22px;
}

table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: center;
    height: 100px;
    width: 100px;
    background-color: yellow;
    padding: 0;
    margin: 0 auto;
    border: 1px solid magenta;
    font-size: 22px;
}

table, td, th {
    border: 1px solid magenta;
    padding: 0px !important;
    font-size: 22px;

    font-weight: bold;
    color: cyan;
    -webkit-text-fill-color: magenta; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:cyan !important;

}
input[type=text] {
      font-size: 22px;
      font-weight: bold;
      color: cyan;
      -webkit-text-fill-color: magenta; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color:cyan !important;
      maxlength: 1;
      padding: none;
      margin: 0px;
      width: 30px;
      height: 30px;
      background-color: yellow;
      border: none;
      text-align: center;
      vertical-align: center;
    }

.slider {
  position: relative;
  top: 150px;
  z-index: 501;
}

ul {
  list-style: none;
}

.buttons {
  position:relative;
  top: 380px;
  background-size: 0px;
  background: Transparent !important;
  border: none !important;
  outline:none !important;
  background-color: rgba(255, 255, 255, .99);
}
#dogwood1 {
  color: cyan;
   -webkit-text-fill-color: yellow; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color:magenta !important;
   font-size: 24px;
   position: fixed;
   top: -20px;
   right: 150px;
 }

#dogwood2 {
  color: cyan;
   -webkit-text-fill-color: yellow; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color:magenta !important;
   font-size: 25px;
   position: fixed;
   top: -20px;
   right: 0px;
}


#chevron {
  position: relative;
  bottom: 450px;
  z-index: 500;
  background-size: 0px;
  background: Transparent;
  border: none;
  overflow:hidden;
  outline:none;
  font-size: 30px;
  color: cyan;
  color: cyan;
   -webkit-text-fill-color: cyan; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color:magenta !important;
   font-size: 30px;
}
.btn:focus {
  color: cyan;
  background: transparent;
  border-color: magenta;

}
.btn:active {
  color: cyan;
  background: transparent;
  border-color: magenta;
}
.btn.active {
  color: cyan;
  background: magenta;
  border-color: magenta;
}
.btn {
  font-weight: bold;
  font-size: 30px;
  color: cyan;
  background: transparent;
  border-color: magenta;
  border-width: 3px;
}
.btn:hover {
  background-color: magenta;
  border: magenta;
  outline:magenta;
  background-color: cyan);
}
.btn:click {
  background-size: 0px;
  border-color: magenta;
  outline: magenta;
  background-color: cyan;
}
h1 {
   -webkit-text-fill-color: yellow; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color:navy !important;
   font-size: 30px;
   position: relative;
   text-align: center;
   font-family: Last Ninja;
}

h2 {
   -webkit-text-fill-color: magenta; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color:navy !important;
   font-size: 20px;
   position: relative;
   text-align: center;
}

h4 {
  -webkit-text-fill-color: yellow; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color:magenta !important;
   font-size: 35px;
   position: relative;
   text-align: center;
}

.verdict {
  position: relative;
  border: 10px dotted;
  border-radius: 10px;
  border-color: magenta;
  left: 9000px;
  width: 350px;
  height: 450px;
  z-index: 5000;
  background-image: url(styles/cherryBlossom.jpg);
  background-size: cover;
  bottom: 100px;
}
.verdictVisible {
  position: relative;
  border: 10px dotted;
  border-radius: 10px;
  border-color: magenta;
  left: 175px;
  width: 350px;
  height: 450px;
  z-index: 5000;
  background-image: url(styles/cherryBlossom.jpg);
  background-size: cover;
  bottom: 100px;
}


/*@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 2500px;}
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 2500px;}
}

#firstNo{
  position: relative;
    -webkit-animation: mymove 2s;
    -webkit-animation-timing-function: linear;
    animation: mymove 2s infinite;
    animation-timing-function: linear;
}*/
.fail {
  position: relative;
  bottom: 450px;
  z-index: 1000;
  left: 30px;
}

.firstNo {
  font-family: Last Ninja;
  font-size: 0px;
  -webkit-text-fill-color: red; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2.5px;
   -webkit-text-stroke-color:magenta !important;
  -webkit-transition: width 2s ease, height 2s ease;
  -moz-transition: width 2s ease, height 2s ease;
  -o-transition: width 2s ease, height 2s ease;
  transition: width 2s ease, height 2s ease;
}
.firstNoBig {
  font-family: Last Ninja;
  font-size: 90px;
  color: cyan;
}

h5 {
  font-family: Last Ninja;
  font-size: 45px;
  position: relative;
  text-align: center;
}
.tryAgain {
  font-size: 0px !important;
  text-align: center !important;
  font-family: Last Ninja !important;
  -webkit-text-fill-color: red !important; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2.5px !important;
   -webkit-text-stroke-color:magenta !important;
}
.tryAgainBig {
  font-size: 50px !important;
  text-align: center;
  font-family: Last Ninja !important;
  -webkit-text-fill-color: red !important; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2.5px !important;
   -webkit-text-stroke-color:magenta !important;
   position: relative;
   left: 100px;
}

